{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <!-- <link rel="stylesheet" href="/styles/checkbox.css"> -->
    <!-- <link rel="stylesheet" href="./styles/index.css"> -->

    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
    {% for book in book_list %}
    <div class="todo_item">
        <div class="todo_item_header">
            <label class="checkbox_container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <h4>{{ book.title }}</h4>
        </div>
        <div class="todo_item_footer">
            <p>{{ book.price }}</p>
            <p>{{ book.date }}</p>
            <div class="action_buttons">
                <img src="./icons/svetstar.png">
                <img src="./icons/delete.jpg">
            </div>
        </div>

    </div>
    {% endfor %}

</body>

</html>