{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <!-- <link rel="stylesheet" href="/styles/checkbox.css"> -->
    <!-- <link rel="stylesheet" href="./styles/index.css"> -->

    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" name="book.title" placeholder="Напишите Заголовок">
                <input class="create_input" type="text" name="book.subtitle" placeholder="Напишите Подзаголовок">
                <input class="create_input" type="text" name="book.description" placeholder="Напишите Описание">
                <input class="create_input" type="text" name="book.price" placeholder="Напишите цену">
                <input class="create_input" type="text" name="book.genre" placeholder="Напишите жанр">
                <input class="create_input" type="text" name="book.author" placeholder="Напишите автора">
                <input class="create_input" type="text" name="book.year" placeholder="Напишите год выхода книги">
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="todo_container">
            {% for book in book_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h1>{{ book.title }}</h1>
                </div>
                <div class="todo_item_footer">
                    <p>{{ book.subtitle}}</p>
                    <p>{{ book.description }}</p>
                    <p>{{ book.price }}</p>
                    <p>{{ book.genre }}</p>
                    <p>{{ book.author }}</p>
                    <p>{{ book.year }}</p>
                    <p>{{ book.date }}</p>
                    <div class="action_buttons">
                        <img src="{% static './icons/unmarked.png' %} ">
                        <img src="{%  static './icons/delete.png'  %}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>