<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>

    <div>
        <h1>Детали книги</h1>
        <h2>{{ book_object.title }}</h2>
        <h3>{{ book_object.subtitle }}</h3>
        <h3>{{ book_object.price }}</h3>
        <h3>{{ book_object.genre }}</h3>
        <h3>{{ book_object.author }}</h3>
        <h3>{{ book_object.year }}</h3> 
        <h3>{{ book_object.date }}</h3>
    
    </div>
    <button><a href="javascript:history.back()">Назад</a></button>

</body>

</html>